/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

ul ul {
    padding-left: 20px;
    list-style-type: square;
}

ul ul li {
        background-image: none;
}

.dd-item.parent > ul > li.dd-item.active > ul > li {
    display: block;
}


/* Remove "Clear History" from navigation since we're not remembering history */
#sidebar a.padding {
    display: none;
}


/* Add image to collapsible sub-sections 
#sidebar .highlightable > ul > li > ul > li a .caption {
    display: inline-block;
}

#sidebar .highlightable > ul > li > ul > li a .collapsed {
    display: inline-block;
    background-image: url(../images/circle-up-arrow.png);
    background-repeat: no-repeat;
    background-size: cover;    
    width: 19px;
    height: 19px;
    opacity: 0.5;
}

/*
#sidebar .highlightable ul.topics > li.parent span.collapsed, #sidebar .highlightable ul.topics > li.active span.collapsed {
    transform: rotate(0);
}
    transform: rotate(180deg);
    background-position: center;
    vertical-align: top;
    margin-top: 7px;


*/
