.grav-youtube {
    height: 0;
  display: block;
    padding-top: 25px;
  padding-bottom: 56.25%;
    margin-bottom: -250px;
    position: relative;
    overflow: hidden;
/*  max-width: 1280px;
    max-height: 720px;

    */
    max-width: 1280px;
       max-height: 720px;
}

.grav-youtube iframe {
    top: 0;
    left: 0;
    margin-left: 25%;
border: 30px solid #EEE;
    width: 60%;
    height: 60%;
    position: absolute;
    }
